body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.row2 {
	text-align: center;
}

.bottom2 {
	padding-bottom: 5px;
}

.lr1 {
	float: left;
	padding-left: 30%;
}

.lr2 {
	float: right;
	padding-right: 30%;
}