<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	{% block javascript %}
	 <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
	{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Julio Acedo & Enrique Moguel</a>
        </div>

    </nav>
    {% if name %}
    {% if bot %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>PYRO4BOT {{name}}!</h1>
        <p>Práctica desarrollada por Julio Acedo y Enrique Moguel.</p>
        <!--p>{{bot.__dict__}}</p-->
                <ul>
                {% set elems = [] %}
                {% set restricted_list = ['node','name','port_robot', 'ip', 'bigbrother_passw', 'ns']%}
                {% for elem in bot.__dict__ %}
                        {% if elem not in restricted_list %}
                                {#{elem}#}
                                {% do elems.append(elem) %}
			{% else %}
				<li><label>{{ elem }} </label>{{ bot.__dict__[elem] }}</li>
                        {% endif %}
                {% endfor %}
                </ul>
	</div>
    </div>

    <div class="container">
      <!-- VISUALIZACIÓN DE LOS SENSORES -->
      <div class="row row2">
          <!-- *** REPLICAR POR CADA DATO *** -->
                {% for e in elems %}
		<div class="col-md-4">
			<h2>{{ e }}</h2>
			<!--p>{{bot.__dict__[e]}}</p-->
                        {% for f in bot[e].__exposed__()['methods'] %}
                                {#% if f !=  '__exposed__' and f != '__docstring__' and bot[e].__docstring__()[f] != None %#}
                                {% if f !=  '__exposed__' and f != '__docstring__' %}
                                        <div class="col-md-6">
                                            <h2>{{f}}</h2>
                                            <!--p>{{ bot[e].__docstring__()[f] }}</p-->
                                        {% set smethod =  bot[e].__docstring__()[f]|string %}
                                        {% if 'sensor' in smethod %}
                                            <div class="bottom2">
                                                <button  id="button{{f}}" class="btn btn-default" onclick="$.get('/{{name}}/{{e}}/{{f}}', function(data){getElementById('{{f}}').innerHTML = JSON.stringify(data);}); ">
                                                    <span>{{f}}</span>
                                                </button>
						<!--script>
							$('#button{{f}}').each(function(){
    								$(this).click(function(){
        								document.getElementById('{{f}}').innerHTML = 'bot[e][f]()';
    								});
							});
						</script-->
                                            </div>
                                            <p id ="{{f}}"> </p>
                                        {% elif 'actuator' in smethod %}


                                            {% set argsNames = smethod.split('args_names:')[1] |  replace('[','') | replace(']','') |  replace('\'','') %}
                                            {% set numArgs = argsNames.split(', ') |length %}
                                            {% set separator = "+'-'+" %}

                                                {% for i in range(numArgs) %}
                                                <div>
                                                    <label>{{ argsNames.split(", ")[i] }}</label>
                                                    <input id ="{{ argsNames.split(", ")[i] }}" type="text" name ="{{ argsNames.split(", ")[i] }}" value="0">
                                                </div>
                                                {% endfor %}


                                                <div class="bottom2">
                                                    <button class="btn btn-default" onclick="$.get('/{{name}}/{{e}}/{{f}}/'+{% for arg in argsNames.split(', ') %}getElementById('{{arg}}').value {% if not loop.last  %}{{separator}} {% endif %}{% endfor %});">
                                                        <span>{{f}}</span>
                                                    </button>
                                                </div>
                                        {% endif %}
                                         </div>
                                {% endif %}
                        {% endfor %}
		</div>
                {% endfor %}
          <!--div class="col-md-4">
            <h2>{{title_sensor}}</h2>
            <p>{{description_sensor}}</p>
            <p><a class="btn btn-success" role="button">{{data}}</a></p>
          </div-->


            <!--div class="col-md-4">
                <h2>{{title_video}}</h2>
                <p>{{description_video}}</p>
                <img src="http://{{user}}:{{pass}}@{{ip}}/video.mjpg?resolution=352x240" alt="real-time video" />
            </div-->


        </div>

        <hr>

        <!-- ACTUADORES -->
        <!--div class="row row2">
            <div class="col-md-6">
                <h2>{{title_actuator}}</h2>
                <p>{{description_actuator}}</p>
                <div class="bottom2">
                    <button type="button" class="btn btn-default" onclick="{{fuction}}">
                        <span>{{fuction_name}}</span>
                    </button>
                </div>
            </div>

        </div-->

        <hr>
{% endif %}
{% endif %}
        <footer>
          <p style="text-align: center;">Máster MUPFES - Fundamentos Científicos del Currículum de Informática en Enseñanza Secundaria II</p>
        </footer>
      </div> <!-- /container -->
	{% block javascript2 %}
	<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}


    </body>
</html>
