[Unit]
Description=iamrobot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/PYRO4DIR/pyro4bot/developing/misc/findrobots/iamrobot.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
