<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>



<div>
    <div class="lr1">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    </div>
    <div class="lr2">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</div>
<div>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
</div>